body
{
    background-color: black;
    margin :0
}
.um
{
    background: rgb(120, 49, 153);
    color: black;
}
#dois
{
    background: rgb(0, 255, 255);
    color: black;
}
ul
{
    list-style: none; 
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
nav
{
    background-color: black;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
h1, p
{
    color: white
}
nav, ul 
{
    display: flex;
    flex-direction: row;
}
li
{
    padding: 0 20px;
}
h1
{
    margin: 0 20px;
    padding: 10px;
}
button
{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute ;
    right: 10px;
    top: 10px;
    display: none;
}
li:hover,
h1:hover,
button:hover{
    cursor:pointer;
    opacity: 0.0;
    background-color: 255, 255, 255, 0.2;
    border-radius: 30px;
}
@media (max-width: 700px){
    nav, ul {
        flex-direction: column; /*alinha em coluna */
    }
    ul{
        text-align: center;
        margin: 0;
        height: 0;

    }
    nav{
        padding-top: 0px; /*espaço pra dentro */
        align-items: flex-start; /*alinha os itens flex no início do container*/

    }
    h1{
        margin: 10px;

    }
    button{
        display: flex;
    }
    li, ul{
        width: 100%;
    }
}